bin/
obj/

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

.idea/

*.DS_Store
Thumbs.db

secrets.json

*.publishsettings
*.pubxml
*.publishproj

*.nupkg
packages/
.nuget/

*.log
*.tlog/
*.vsix
*.cache

*.pfx
*.key
*.pem

docker-compose.override.yml
**/docker-compose.override.yml
**/docker-compose.override.yaml
*.env
.env.local
.env.*

**/volumes/
**/images/

TestResults/
*.trx

artifacts/

*.editorconfig.local

.vscode/
.idea/

*.db
*.sqlite
*.sqlite3
*.mdf

swagger/

node_modules/

